<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groceryfood">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LanguageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CheckOutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OrderFinishActivity"
            android:parentActivityName=".CheckOutActivity" />
        <activity
            android:name=".TrackOrdersActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayTrackOrdersActivity"
            android:parentActivityName=".TrackOrdersActivity" />
        <activity
            android:name=".OrderDetailsActivity"
            android:parentActivityName=".DisplayTrackOrdersActivity" />
        <activity
            android:name=".MyFavouritesActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PartnerLoginActivity" />
        <activity android:name=".PartnerRegistrationActivity" />
        <activity
            android:name=".ProductDetailsActivity"
            android:parentActivityName=".PartnerMainActivity" />
        <activity android:name=".RegisterShopDetailsActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity
            android:name=".VenderTrackOrder"
            android:parentActivityName=".PartnerMainActivity" />
        <activity
            android:name=".FilterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".UserLoginActivity" />
        <activity
            android:name=".RegisterUserActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainLoginActivity" />
        <activity
            android:name=".FinalPaymentActivity"
            android:parentActivityName=".OrderFinishActivity" />
        <activity
            android:name=".PartnerMainActivity"
            android:label="@string/title_activity_partner_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PartnerProfileActivity"
            android:parentActivityName=".PartnerMainActivity" />
        <activity android:name=".PatnerRenewActivity"></activity>
    </application>

</manifest>