<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeosys.lawyerdiary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SheduleActivity" />
        <activity
            android:name=".activities.CalenderViewActivity"
            android:label="@string/title_activity_calender_view"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:parentActivityName=".activities.CalenderViewActivity" />
        <activity
            android:name=".activities.NewEventActivity"
            android:parentActivityName=".activities.CalenderViewActivity" />
        <activity
            android:name=".activities.CasesActivity"
            android:label="@string/title_activity_cases"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.CaseDetailsActivity"
            android:parentActivityName=".activities.CasesActivity" />
        <activity
            android:name=".activities.NewCaseActivity"
            android:parentActivityName=".activities.CasesActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".activities.ClientActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".activities.AddClientActivity"
            android:parentActivityName=".activities.ClientActivity"></activity>
    </application>

</manifest>