<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeosys.lawyerdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SheduleActivity" />
        <activity
            android:name=".activities.CalenderViewActivity"
            android:label="@string/title_activity_calender_view"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.EventDetailsActivity"
            android:parentActivityName=".activities.CalenderViewActivity" />
        <activity
            android:name=".activities.NewEventActivity"
            android:parentActivityName=".activities.CalenderViewActivity" />
        <activity
            android:name=".activities.CasesActivity"
            android:label="@string/title_activity_cases"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.CaseDetailsActivity"
            android:parentActivityName=".activities.CasesActivity" />
        <activity
            android:name=".activities.NewCaseActivity"
            android:parentActivityName=".activities.CasesActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ClientActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.AddClientActivity"
            android:parentActivityName=".activities.ClientActivity" />

        <provider
            android:name=".database.LawyerProvider"
            android:authorities="com.vibeosys.lawyerdiary"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.ClientDetailsActivity"
            android:parentActivityName=".activities.ClientActivity" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:parentActivityName=".activities.LoginActivity" />

        <service
            android:name=".services.ReminderService"
            android:enabled="true" />

        <receiver android:name=".services.ReminderReceiver" />

        <activity
            android:name=".activities.RemoveAdsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activities.FeedbackActivity"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>