<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finaqa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.CarouselActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.CustomerLogin"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".activities.ConsultantRegistration" />
        <activity
            android:name=".activities.ConsultantLogin"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ConsultantSecondRegistration"
            android:parentActivityName=".activities.ConsultantLogin" />
        <activity
            android:name=".activities.ConsultantThirdRegistration"
            android:parentActivityName=".activities.ConsultantSecondRegistration" />
        <activity
            android:name=".activities.ConsultantMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".activities.ConsultantMainActivity" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.ConsultantMainActivity" />
        <activity
            android:name=".activities.AboutUsActivitySecond"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ContactUsActivitySecond"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:label="@string/myProfile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/forgot_password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.BankDetailsActivity"
            android:label="@string/bank_details_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/history"
            android:parentActivityName=".activities.ConsultantMainActivity" />
        <activity
            android:name=".activities.FinancialAdviceActivity"
            android:label="@string/labelAdvie"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.FinancialAssetActivity"
            android:label="@string/adviceLabel"
            android:parentActivityName=".activities.FinancialAdviceLoan" />
        <activity
            android:name=".activities.FinancialAdviceLoan"
            android:label="@string/assetsLabel"
            android:parentActivityName=".activities.ConsultantMainActivity" />
        <activity
            android:name=".activities.TotalLoanActivity"
            android:label="@string/totalLoan"
            android:parentActivityName=".activities.FinancialAdviceLoan" />
        <activity
            android:name=".activities.ConfirmPayment"
            android:label="@string/payment_details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.WithdrawAmount"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>