<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibeosys.fitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BodyMassIndexActivity"></activity>
        <activity android:name=".activities.DashboardActivity"></activity>
        <activity android:name=".activities.DietPlanActivity"></activity>
        <activity android:name=".activities.InstructionsActivity"></activity>
        <activity android:name=".activities.MessageChatActivity"></activity>
        <activity android:name=".activities.MyProfileActivity"></activity>
        <activity android:name=".activities.WorkSheetActivity"></activity>

    </application>

</manifest>
